{% extends "layout.html" %}
{% block sub_content %}
<div class="container">
    <h1>About</h1>
    <section id="introduction">
        <h2>Introduction</h2>
        <p>Welcome to our Microblog Web Application project! We are creating a simple yet powerful platform for users to share their thoughts and experiences through microblogging.</p>
    </section>
    <section id="developer-info">
        <h2>Developer</h2>
        <p>Developed by: Mawunyo Ashigbi</p>
        <p>
            <a href="https://www.linkedin.com/in/divine-mawunyo-ashigbi-273aa16b" target="_blank">LinkedIn</a> | 
            <a href="https://github.com/Enivid-mash" target="_blank">GitHub</a>
        </p>
    </section>
</div>
{% endblock %}

